@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.main {
  padding: 80px 20px;
}
.main > .container {
  max-width: 800px;
  padding: 60px 44px;
  border: 1px solid rgba(243, 125, 66, 0.05);
  border-radius: 20px 0 20px 0;
  background: rgba(243, 125, 66, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
.main--text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 44px;
}
.main--text > div {
  width: fit-content;
}
.main--text h2 {
  letter-spacing: -1px;
}
.main--form form .form-control {
  border: 1px solid transparent;
  border-radius: 8px 0 8px 0;
  background-color: hsla(0, 0%, 100%, 0.1);
  min-height: 58px;
}
.main--form form .form-control, .main--form form .form-control::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: inherit;
}
.main--form form .form-control[type=file] {
  min-height: auto;
}
.main--form form .form-control[type=number] {
  position: relative;
  isolation: isolate;
}
.main--form form .form-control[type=number]::after {
  content: "/100";
  position: absolute;
  inset: 0;
  z-index: 0;
  padding: inherit;
  color: inherit;
}
.main--form form .form-control:focus {
  box-shadow: none;
}
.main--form form textarea.form-control {
  resize: none;
  min-height: 200px;
  padding-block: 20px;
}
.main--form form .form-label::after {
  color: #f5f5f5;
  background-color: red;
}
.main--form form .form-label span {
  color: #f37d42;
  font-weight: bold;
}

.list {
  padding: 80px 20px;
}
.list--text {
  text-align: center;
  margin-bottom: 44px;
  position: relative;
}
.list--text h1 {
  margin-bottom: 32px;
}
.list--text p {
  color: #f37d42;
  font-size: 1rem;
  font-weight: 400;
}
.list--text .button {
  position: absolute;
  left: 0;
  top: 1.25rem;
  min-width: auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  display: grid;
  place-items: center;
}
.list--text .button ion-icon {
  color: #f5f5f5;
  font-size: 1.5rem;
}
.list--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.25rem;
}
.list--item {
  background: rgba(243, 125, 66, 0.08);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border-radius: 20px 0 20px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  transition: all 0.3s ease-in-out;
}
.list--item::after {
  content: "";
  position: absolute;
  inset: 0 0 60% 0;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.7));
  z-index: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.list--item:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.list--item:hover::after {
  opacity: 1;
}
.list--item:hover h3 {
  color: #f37d42;
}
.list--item:hover .btns {
  opacity: 1;
}
.list--item img {
  display: block;
  width: 100%;
  height: 460px;
  max-height: 540px;
  object-fit: cover;
  border-radius: inherit;
}
.list--item .info {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.list--item .info h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  transition: all 0.3s ease-in-out;
}
.list--item .info span {
  color: #ddd;
  font-weight: 700;
  font-size: 0.925rem;
  margin-bottom: 1.5rem;
}
.list--item .info span:last-of-type {
  text-align: end;
}
.list--item .info h4 {
  font-size: 1.5rem;
}
.list--item .info h4 strong {
  font-family: inherit;
  color: #f37d42;
}
.list--item .info p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  margin-bottom: 0;
}
.list--item .info h3, .list--item .info h4, .list--item .info p {
  grid-column: span 2;
}
.list--item .btns {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.list--item .btns .button {
  min-width: auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0;
  display: grid;
  place-items: center;
}
.list--item .btns .button ion-icon {
  color: #f5f5f5;
  font-size: 1.25rem;
}

.edit {
  padding: 80px 20px;
}
.edit > .container {
  max-width: 800px;
  padding: 60px 44px;
  border: 1px solid rgba(243, 125, 66, 0.05);
  border-radius: 20px 0 20px 0;
  background: rgba(243, 125, 66, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
.edit--text {
  position: relative;
}
.edit--text .button {
  position: absolute;
  right: 0;
  top: 0;
  min-width: auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  display: grid;
  place-items: center;
}
.edit--text .button ion-icon {
  color: #f5f5f5;
  font-size: 1.5rem;
}
.edit--form form .row + .row {
  margin-top: 20px;
}
.edit--form form .row {
  margin-inline: 0;
}
.edit--form form .row img {
  max-width: 100%;
  max-height: 600px;
  object-fit: contain;
  margin-inline: auto;
}
.edit--form form .row img + label {
  margin-top: 20px;
}
.edit--form form .form-control, .edit--form form input {
  border: 1px solid transparent;
  border-radius: 8px 0 8px 0;
  background-color: hsla(0, 0%, 100%, 0.1);
  min-height: 58px;
}
.edit--form form .form-control, .edit--form form .form-control::placeholder, .edit--form form input, .edit--form form input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: inherit;
}
.edit--form form .form-control[type=file], .edit--form form input[type=file] {
  min-height: auto;
}
.edit--form form .form-control[type=number], .edit--form form input[type=number] {
  position: relative;
  isolation: isolate;
}
.edit--form form .form-control[type=number]::after, .edit--form form input[type=number]::after {
  content: "/100";
  position: absolute;
  inset: 0;
  z-index: 0;
  padding: inherit;
  color: inherit;
}
.edit--form form .form-control:focus, .edit--form form input:focus {
  box-shadow: none;
}
.edit--form form .form-control:disabled, .edit--form form input:disabled {
  opacity: 0.5;
}
.edit--form form .form-control:disabled:hover, .edit--form form input:disabled:hover {
  cursor: not-allowed;
}
.edit--form form textarea.form-control {
  resize: none;
  min-height: 200px;
  padding-block: 20px;
}
.edit--form form .form-label::after, .edit--form form label::after {
  color: #f5f5f5;
  background-color: red;
}
.edit--form form .form-label span, .edit--form form label span {
  color: #f37d42;
  font-weight: bold;
}

.return {
  padding: 80px 20px;
  text-align: center;
}
.return h1 {
  font-size: 40px;
}
.return .btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 32px;
}

html {
  background: linear-gradient(to bottom right, #14181c, rgba(243, 125, 66, 0.0666666667)) no-repeat;
  color-scheme: dark;
}

body {
  margin: 0;
  height: 100%;
  background-color: inherit;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: hidden;
}

::-webkit-scrollbar-thumb {
  background: #f37d42;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(243, 125, 66, 0.8666666667);
}

h1, h2, .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h1 {
  font-size: 64px;
  line-height: 1;
}

h2 {
  color: #f37d42;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

.button {
  display: grid;
  place-items: center;
  padding: 12px 20px;
  min-height: 48px;
  min-width: 160px;
  font-family: inherit;
  border-radius: 20px 0 20px 0;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  translate: 0 -3px;
}
.button.btn-primary {
  color: #1e1e1e;
  background: #f37d42;
  border: 2px solid transparent;
}
.button.btn-primary:hover {
  background: transparent;
  border-color: #f5f5f5;
  color: #f5f5f5;
}
.button.btn-secondary {
  color: #f5f5f5;
  background: transparent;
  border: 2px solid #f5f5f5;
}
.button.btn-secondary:hover {
  background: #f37d42;
  border-color: transparent;
  color: #1e1e1e;
}

/*# sourceMappingURL=main.css.map */
