// pages
@import 'pages/index';
@import 'pages/list';
@import 'pages/edit-form';
@import 'pages/return-messages';

// sass --watch scss/main.scss:css/main.css

// fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// general ------------
html {
  background: linear-gradient(to bottom right, #14181c, #f37d4211) no-repeat;
  color-scheme: dark;
}
body {
  margin: 0;
  height: 100%;
  background-color: inherit;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: hidden;
}
::-webkit-scrollbar-thumb {
  background: #f37d42;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f37d42dd;
}

// utility classes ---------------
h1, h2, .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
h1 {
  font-size: 64px;
  line-height: 1;
}
h2 {
  color: #f37d42;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}
.button {
  display: grid;
  place-items: center;

  padding: 12px 20px;
  min-height: 48px;
  min-width: 160px;
  font-family: inherit;
  border-radius: 20px 0 20px 0;
  transition: all .3s ease-in-out;

  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  &:hover {
    translate: 0 -3px;
  }
  &.btn-primary {
    color: #1e1e1e;
    background: #f37d42;
    border: 2px solid transparent;

    &:hover {
      background: transparent;
      border-color: #f5f5f5;
      color: #f5f5f5;
    }
  }
  &.btn-secondary {
    color: #f5f5f5;
    background: transparent;
    border: 2px solid #f5f5f5;

    &:hover {
      background: #f37d42;
      border-color: transparent;
      color: #1e1e1e;
    }
  }
}