.list {
    padding: 80px 20px;

    &--text {
        text-align: center;
        margin-bottom: 44px;
        position: relative;
        
        h1 {
            margin-bottom: 32px;
        }
        p {
            color: #f37d42;
            font-size: 1rem;
            font-weight: 400;
        }
        .button {
            position: absolute;
            left: 0;
            top: 1.25rem;
            
            min-width: auto;
            width: 50px;
            aspect-ratio: 1;
            border-radius: 50%;
            padding: 0;
            transition: all .3s ease-in-out;
            z-index: 2;

            display: grid;
            place-items: center;

            ion-icon {
                color: #f5f5f5;
                font-size: 1.5rem;
            }
        }
    }
    &--wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 1.25rem;
    }
    &--item {
        background: rgba(243, 125, 66, 0.08);
        backdrop-filter: blur(8.7px);
        -webkit-backdrop-filter: blur(8.7px);
        
        border-radius: 20px 0 20px 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        isolation: isolate;
        transition: all .3s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            inset: 0 0 60% 0;
            background: linear-gradient(to top, transparent, rgba(0,0,0,0.7));
            z-index: 0;
            opacity: 0;
            transition: all .3s ease-in-out;
        }
        &:hover {
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

            &::after {
                opacity: 1;
            }
            h3 {
                color: #f37d42;
            }
            .btns {
                opacity: 1;
            }
        }
        img {
            display: block;
            width: 100%;
            height: 460px;
            max-height: 540px;
            object-fit: cover;
            border-radius: inherit;
        }
        .info {
            padding: 2rem 1rem;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            h3 {
                font-size: 2rem;
                font-weight: 700;
                
                margin-bottom: .75rem;
                transition: all .3s ease-in-out
            }
            span {
                color: #ddd;
                font-weight: 700;
                font-size: .925rem;
                margin-bottom: 1.5rem;

                &:last-of-type {
                    text-align: end;
                }
            }
            h4 {
                font-size: 1.5rem;

                strong {
                    font-family: inherit;
                    color: #f37d42;
                }
            }
            p {
                font-family: inherit;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.3rem;
                margin-bottom: 0
            }
            h3, h4, p {
                grid-column: span 2;
            }
        }
        .btns {
            position: absolute;
            top: 1rem;
            right: 1rem;
            opacity: 0;
            transition: all .3s ease-in-out;
            z-index: 2;

            display: flex;
            flex-direction: column;
            gap: .5rem;
            justify-content: center;

            .button {
                min-width: auto;
                width: 50px;
                aspect-ratio: 1;
                border-radius: 50%;
                padding: 0;
                
                display: grid;
                place-items: center;

                ion-icon {
                    color: #f5f5f5;
                    font-size: 1.25rem;
                }
            }
        }
    }
}